body {
  font-family: "Fahkwang", sans-serif;
}
.Card {
  border: solid 1px;
  background-color: rgb(40, 84, 161);
  border-radius: 15px;
  width: 500px;
  height: 300px;
  display: flex;
  display: grid;
}
.Bank {
  color: white;
  text-align: right;
  font-size: 30px;
  margin-right: 35px;
  font-weight: 900;
}
.Nummer {
  color: white;
  font-size: 40px;
  margin-bottom: 0;
  font-weight: lighter;
}
.Valide {
  color: white;
  margin-top: 0;
  text-align: left;
  margin-left: 30px;
  font-weight: lighter;
}
.Inline {
  display: flex;
  justify-content: center;
}
.Block {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-weight: lighter;
}
.Validate1 {
  color: white;
  font-size: 10px;
}
.Validate2 {
  color: white;
  font-size: 10px;
}
.Datum {
  color: white;
  font-size: 28px;
  margin-left: 5px;
  font-weight: lighter;
}
.Namen {
  color: white;
  text-align: left;
  margin-left: 30px;
  font-weight: lighter;
}
